*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e1e1e1;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #4a90e2;
}

.navbar-item {
  display: inline-block;
  padding: 25px;
  color: #00408b;
  text-decoration: none;
  height: 4.75rem;
}

.navbar-item:hover {
  background-color: #4a90e2;
  color: #fff;
  border-bottom: 5px solid #00408b;
}

.navbar a.active {
  color: #fff;
  border-bottom: 5px solid #00408b;
}

.addTask {
  display: flex;
  justify-content: center;
  margin: 25px;
}

input {
  padding: 20px;
  background: #ffffff;
  border: 2px solid #c8c8c8;
  border-radius: 5px;
  width: 60vw;
  font-size: 24px;
}

.tasklist {
  display: grid;
  grid-auto-columns: 60vw;
  justify-content: center;
  grid-gap: 10px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
}

.task {
  display: grid;
  grid-template-columns: 50px auto 50px 50px;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  padding: 20px;

  background: #f2f2f2;
  border-radius: 5px;
}

.icon-tick {
  text-align: center;
}

.done > .title {
  font-weight: 400;
  text-decoration: line-through;
  color: #9b9b9b;
}

.tasklist > .star {
  background: #fff2dc;
}
.star > .icon-star {
  color: #f5a623;
}

.task-addon {
  grid-column: 2 / 2;
  font-weight: 400;
}

.addon {
  display: inline;
  font-size: 16px;
  margin: 0 5px;
  color: #757575;
}

.taskCount {
  display: grid;
  grid-auto-columns: 60vw;
  justify-content: center;
}

.status {
  font-family: Roboto;
  font-style: italic;
  font-size: 24px;
  margin: 10px;
  padding: 0 2rem;
  color: #c8c8c8;
}
