.header {
  text-align: center;
  margin: 3.2rem;
  &__store {
    background-color: invert($background);
    width: 13rem;
    height: 3rem;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      font-weight: 900;
      font-size: 2rem;
      color: $background;
    }
  }

  .title {
    color: $main-color;
    font-size: 7.2rem;
    font-weight: 900;
  }
}
